<template name="account">
  <div class="page about">
    {{> nav title='Mon compte' black=true}}

    <div class="content-scrollable">

        {{#if currentUser}}

            {{#if actif}}

                <div class="img-responsive  profile">
                    <div class="niveau">{{niveau}}</div>
                </div>
                <div class="progress-wrap progress">
                    <div class="progress-bar progress" style="width:{{experience}}"></div>
                </div>

                <div class="information">
                    <div class="col-xs-3  niveau">

                        {{#if muscler}}
                            muslcer
                        {{/if}}

                        {{#if maigrir}}
                            maigir
                        {{/if}}

                        {{#if maintient}}
                            maintient
                        {{/if}}

                    </div>

                    <div class="col-xs-3  niveau">
                        {{#if halal}}
                                halal
                            {{else}}
                                non-halal
                        {{/if}}
                    </div>
                    <div class="col-xs-3  niveau">
                        {{#if casher}}
                            casher
                        {{else}}
                            non-casher
                        {{/if}}
                    </div>
                    <div class="col-xs-3  niveau">
                        {{#if vegetarien}}
                            vegetarien
                        {{else}}
                            non-vegetarien
                        {{/if}}
                    </div>
                </div>


                <div class="stats">
                    <div class="col-xs-4">{{compteur1}}</div>
                    <div class="col-xs-4">{{compteur2}}</div>
                    <div class="col-xs-4">{{compteur3}}</div>
                </div>

            <div class="buttons">
                <button class="submit-rests  logout">Deconexion</button>
                <button class="submit-rests  modif">Préférences</button>
            </div>

            {{else}}


                <div class="tab-form-wrap" role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#one" aria-controls="one" role="tab" data-toggle="tab">1</a>Restriction alimentaire</li>
                        <li role="presentation"><a href="#two" aria-controls="two" role="tab" data-toggle="tab">2</a>Objectif sportif</li>
                    </ul>

                    <!-- Tab panes -->
                    <form>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="one">

                            <fieldset>
                            <input name="halal" type="checkbox" id="halal" value="true">
                            <label for="halal">Halal</label>
                        </fieldset>
                            <fieldset>
                                <input name="casher" type="checkbox" id="casher" value="true">
                                <label for="casher">Casher</label>
                            </fieldset>
                            <fieldset>
                                <input name="vegetarien" type="checkbox" id="vegetarien" value="true">
                                <label for="vegetarien">Vegetarien</label>
                            </fieldset>
                            <a href="#" class="blk-btn btnNext">next step</a>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="two">
                            <fieldset>
                                <input name="objectif" type="radio" id="maigrir" value="maigrir">
                                <label for="maigrir">Maigrir</label>
                            </fieldset>
                            <fieldset>
                                <input name="objectif" type="radio" id="muscler" value="muscler">
                                <label for="muscler">Se muscler</label>
                            </fieldset>
                            <fieldset>
                                <input name="objectif" type="radio" id="maintient" value="maintient">
                                <label for="maintient">Maintenir en forme</label>
                            </fieldset>
                            <input class="submit-rest" type="submit" name="action" value="valide">
                        </div>

                    </div>
                    </form>

                </div>

            {{/if}}

        {{else}}

            <div class="overlay auth">
                <a href="#" class="js-close-overlay overlay-dismiss"><span class="icon-cross"></span></a>

                <form>
                    <label for="email">Email</label>
                    <input type="email" name="email"/>
                    <label for="email">Password</label>
                    <input type="password" name="password"/>
                    <input type="submit" name="action" value="logIn" id="login"/>
                    <input type="submit" name="action" value="signUp" id="signup"/>
                </form>

                <button class="js-signin btn-facebook">Connexion avec Facebook</button>

                <button class="js-signin btn-twitter">Connexion avec Twitter</button>
            </div>

        {{/if}}

    </div>

  </div>
</template>