<template name="account">
  <div class="page about">
    {{> nav title='Mon compte' black=true}}

    <div class="content-scrollable">

        {{#if currentUser}}

            {{#if actif}}

        <div class="side_wrapper">
            <section class="about-dev">
                <header class="profile-card_header">
                    <div class="profile-card_header-container">
                        <div class="profile-card_header-imgbox">
                    {{#if currentUser.services.facebook}}
                        <img class="img-responsive" src="{{currentUser.services.twitter.profile_image_url}}">
                    {{else}}
                        {{#if currentUser.services.twitter}}
                            <img class="img-responsive" src="{{currentUser.services.twitter.profile_image_url_https}}">

                        {{else}}
                            <img class="img-responsive" src="{{profileimage}}">
                        {{/if}}
                    {{/if}}
                        </div>

                        <h1>{{profile.pseudo}} <span>Niveau : {{currentUser.profile.Niveau}} | Followers : {{currentUser.profile.followedby}}</span></h1>

                    </div>
                </header>

                </section>

                <div class="information">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="pref">Vos préférences :</h4>
                        </div>
                    </div>
                    <div class="col-xs-3  niveau">

                        {{#if muscler}}
                            <img src="img/objectif/muscler.png" class="img-responsive">
                        {{/if}}

                        {{#if maigrir}}
                            <img src="img/objectif/maigrir.png" class="img-responsive">
                        {{/if}}

                        {{#if maintient}}
                            <img src="img/objectif/maintient.png" class="img-responsive">
                        {{/if}}

                    </div>

                    <div class="col-xs-3  niveau">
                        {{#if halal}}
                                <img src="img/restriction/halal.png" class="img-responsive">
                            {{else}}
                            <img src="img/restriction/nhalal.png" class="img-responsive">
                        {{/if}}
                    </div>
                    <div class="col-xs-3  niveau">
                        {{#if casher}}
                            <img src="img/restriction/casher.png" class="img-responsive">
                        {{else}}
                            <img src="img/restriction/ncasher.png" class="img-responsive">
                        {{/if}}
                    </div>
                    <div class="col-xs-3  niveau">
                        {{#if vegetarien}}
                            <img src="img/restriction/vege.png" class="img-responsive">
                        {{else}}
                            <img src="img/restriction/nvege.png" class="img-responsive">
                        {{/if}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="stat">Vos statistiques :</h4>
                    </div>
                </div>


                <div class="stats">
                    <div class="col-xs-4">{{compteur1}}</div>
                    <div class="col-xs-4">{{compteur2}}</div>
                    <div class="col-xs-4">{{compteur3}}</div>
                </div>
        </div>



                <div id="share">
                {{>shareit shareData}}
                </div>

            <div class="buttons">
                <button class="submit-rests  logout">Deconnexion</button>
                <button class="submit-rests  modif">Réglages</button>
            </div>

            {{else}}


                <div class="tab-form-wrap" role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#one" aria-controls="one" role="tab" data-toggle="tab">1</a>Profile</li>
                        <li role="presentation" ><a href="#two" aria-controls="two" role="tab" data-toggle="tab">2</a>Restriction alimentaire</li>
                        <li role="presentation"><a href="#three" aria-controls="three" role="tab" data-toggle="tab">3</a>Objectif</li>
                    </ul>

                    <!-- Tab panes -->
                    <form>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active photo-tab" id="one">

                            <label class="label-spe" for="pseudo">Identifiant</label>
                            <input id="pseudo" type="text" name="pseudo" value="{{#if pseudo}}{{pseudo}}{{/if}}">

                            {{#if currentUser.services.facebook}}
                            {{else}}
                                {{#if currentUser.services.twitter}}
                                {{else}}

                                    <i class="picture fa fa-camera" aria-hidden="true"></i>

                                {{#if upload}}
                                    <img class="img-responsive profile-reg" src="{{profileimage}}">
                                    {{else}}
                                    <div class="row">

                                        <div class="col-xs-6">
                                            <fieldset>
                                                <input style="background: url('img/profile/femmea.png')" name="photo" type="radio" id="femmea" value="img/profile/femmea.png">
                                                <label style="background: url('img/profile/femmea.png')" for="femma"></label>
                                            </fieldset>
                                        </div>
                                        <div class="col-xs-6">
                                            <fieldset>
                                                <input style="background: url('img/profile/hommea.png')" name="photo" type="radio" id="hommea" value="img/profile/hommea.png">
                                                <label style="background: url('img/profile/hommea.png')" for="femma"></label>
                                            </fieldset>
                                        </div>
                                        <div class="col-xs-6">
                                            <fieldset>
                                                <input style="background: url('img/profile/femmeb.png')" name="photo" type="radio" id="femmeb" value="img/profile/femmeb.png">
                                                <label style="background: url('img/profile/femmeb.png')" for="femma"></label>
                                            </fieldset>
                                        </div>
                                        <div class="col-xs-6">
                                            <fieldset>
                                                <input style="background: url('img/profile/hommeb.png')" name="photo" type="radio" id="hommeb" value="img/profile/hommeb.png">
                                                <label style="background: url('img/profile/hommeb.png')" for="femma"></label>
                                            </fieldset>
                                        </div>

                                    </div>
                                    {{/if}}
                                {{/if}}
                            {{/if}}



                            <a href="#" role="tab" data-toggle="tab" class="blk-btn btnNext">Étape suivante</a>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="two">

                            <fieldset>
                            <input name="halal" type="checkbox" id="halal" value="true">
                            <label for="halal">Halal</label>
                        </fieldset>
                            <fieldset>
                                <input name="casher" type="checkbox" id="casher" value="true">
                                <label for="casher">Casher</label>
                            </fieldset>
                            <fieldset>
                                <input name="vegetarien" type="checkbox" id="vegetarien" value="true">
                                <label for="vegetarien">Vegetarien</label>
                            </fieldset>

                            <a href="#" role="tab" data-toggle="tab" class="blk-btn btnNext">Étape suivante</a>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="three">
                            <fieldset>
                                <input name="objectif" type="radio" id="maigrir" value="maigrir">
                                <label for="maigrir">Mincir</label>
                            </fieldset>
                            <fieldset>
                                <input name="objectif" type="radio" id="muscler" value="muscler">
                                <label for="muscler">Se muscler</label>
                            </fieldset>
                            <fieldset>
                                <input name="objectif" type="radio" id="maintient" value="maintient">
                                <label for="maintient">Se maintenir en forme</label>
                            </fieldset>
                            <input class="submit-rest" type="submit" name="action" value="Enregistrer">
                        </div>

                    </div>
                    </form>

                </div>

            {{/if}}

        {{else}}

            <div class="overlay auth">
                <a href="#" class="js-close-overlay overlay-dismiss"><span class="icon-cross"></span></a>

                <form>
                    <label for="email">Email</label>
                    <input type="email" name="email"/>
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password"/>
                    <input type="submit" name="action" value="logIn" id="login"/>
                    <input type="submit" name="action" value="signUp" id="signup"/>
                </form>



                <button class="js-signin btn-twitter">Connexion avec Twitter</button>
            </div>

        {{/if}}

    </div>

  </div>
</template>