<template name="addRecipe">
    <div id="addRecipe">
        <script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
        <a href="/recipes" class="back-desktop"><span class="icon-arrow-left-alt"></span> Back</a>
        <div class="wrapper-admin">
            {{# if currentUser }}
            <div class="tab-form-wrap" role="tabpanel">


                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#four" aria-controls="four" role="tab" data-toggle="tab">1</a>Presentation</li>
                    <li role="presentation"><a href="#five" aria-controls="five" role="tab" data-toggle="tab">2</a>Objectif sportif</li>
                    <li role="presentation"><a href="#six" aria-controls="six" role="tab" data-toggle="tab">3</a>Exercices</li>
                </ul>

                <!-- Tab panes -->
                <form>
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane fade in active" id="four">

                            <fieldset>
                                <label>Nom de la recette:</label>
                                <input style="margin-bottom: 0px" name="trainingName" type="text">
                            </fieldset>
                            <fieldset>
                                <label>Description de la recette: (facultatif) :</label>
                                <input style="margin-bottom: 0px"  name="description" type="text">
                            </fieldset>

                            <button class="picture">Prennez une photo</button>

                            <a href="#" class=" btnRed submit-rest btnNext">next step</a>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="five">
                            <div id="log2"></div>
                            <div class=" exercice row">
                                <input type="text" class="col-md-3 exer" id="input_name2" placeholder="Ingrédients">
                                <div onclick="addFunction2()" class="col-md-3"  id ="add">Ajouter</div></div>
                            <input type="hidden" id="final2" name="array_final2">
                            <a href="#" class=" btnRed submit-rest btnNext">next step</a>
                        </div>
                        <div role="tabpanel" class="tab-pane fade " id="six">

                            <div id="log"></div>
                            <div class=" exercice row">
                                <input type="text" class="col-md-3 exer" id="input_name" placeholder="Etapes de préparation">
                                <div onclick="addFunction()" class="col-md-3"  id ="add">Ajouter</div></div>
                            <input type="hidden" id="final" name="array_final">
                            <input type="hidden" value="0" name="likes">
                            <input type="hidden" value="{{currentUser.username}}" name="email">
                            <input type="hidden" value="{{currentUser.profile.pseudo}}" name="auteur">
                            <input type="hidden" value="{{currentUser.profile.imgpro}}" name="imgpro">
                            <input type="hidden" value="{{currentUser._id}}" name="id">
                            <button type="submit" class="btn-primary  btnRed submit-rest btnNext">Save</button>
                        </div>


                    </div>
                </form>

            </div>

            <script>
                var result = [];
                var log = "" ;
                var result2 = [];
                var log2 = "" ;
                function addFunction2(){
                    var actual_name2 = document.getElementById('input_name2').value;
                    document.getElementById("input_name2").value = "";
                    if(actual_name2.length !== 0){
                        result2.push([actual_name2]);
                        document.getElementById("log2").innerHTML= log2 + "<div><p>" +  result2[(result2.length-1)][0] + "</p></div><br>"
                        log2 = document.getElementById("log2").innerHTML;
                        document.getElementById("final2").value = JSON.stringify(result2);
                    }
                }
                function addFunction(){
                    var actual_name = document.getElementById('input_name').value;
                    document.getElementById("input_name").value = "";
                    if(actual_name.length !== 0){
                        result.push([actual_name]);
                        document.getElementById("log").innerHTML= log + "<div><p>" +  result[(result.length-1)][0] + "</p></div><br>"
                        log = document.getElementById("log").innerHTML;
                        document.getElementById("final").value = JSON.stringify(result);
                    }
                }

            </script>

            {{ else }}

            <script>

                window.location = "/account";
            </script>

            {{/if}}
        </div>
    </div>
</template>