<template name="bookmarks">
  <div class="page bookmarks">
    {{> nav title='FAVORIS' subtext=recipeCount}}

    <div class="content-scrollable">
      <div class="list-recipes">
        <h1 class="titre-book">Contenus favoris :</h1>
        <a href="/subscribe/{{currentUser._id}}/"><button class="boutton-home">Abonnements</button></a>
        <a href="/subscribe/{{currentUser._id}}/"><button class="boutton-home">Recettes aimées</button></a>
        <a href="/subscribe/{{currentUser._id}}/"><button class="boutton-home">Entrainements aimés</button></a>
      </div>
    </div>
  </div>
</template>