<template name="home">
  <div class="page home">

    {{>nav title='Local Market' black=true}}

    <div class="content-scrollable">
      <div class="bg-image home">
        <h1 class="title-home">
          <img src="img/app/logo-local.png" alt="Local Market"/>
        </h1>

        <span class="arrow"></span>
      </div>

      <div class="callout-news">
        <span class="title-callout">FIT:</span>
        Toute une communauté pour garder la forme
      </div>

      <h2 class="list-title">Welcome :</h2>
      <div class="list-subtitle">{{currentUser.username}}</div>
      <div class="list-activities">
        {{#each activities}}
          {{> activity}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">No one is cooking yet!</div>
            <div class="subtitle-message">Share that you made a recipe and it will show up here.</div>
          </div>
        {{/each}}
      </div>
      <a href="{{pathFor 'trainings'}}" class="btn-primary">See what's cooking</a>

      <h2 class="list-title">Our Favorite Recipes</h2>
      <div class="list-subtitle">Hand-picked by neighborhood chefs</div>
      <div class="list-recipes">
        {{#each featuredRecipes}}
          {{> recipeItem recipe=this size='small'}}
        {{/each}}
      </div>

      <a href="{{pathFor 'recipes'}}" class="btn-primary">Explore all our recipes</a>
    </div>

  </div>
</template>