<template name="home">
  <div class="page home">

    {{>nav title='FIT' black=true}}

    <div class="content-scrollable">
      <div class="bg-image home">
        <h1 class="title-home">
          <img src="img/app/logo-local.png" alt="Local Market"/>
        </h1>

        <span class="arrow"></span>
      </div>

      <div class="callout-news">
        <span class="title-callout">FIT:</span>
        Toute une communauté pour garder la forme
      </div>
      {{# if currentUser }}
      <h2   style="text-align:center;border-top: solid darkgrey"   class="list-title">Bienvenue :</h2>
      <div   style="text-align:center;border-bottom: solid darkgrey"  class="list-subtitle">{{currentUser.profile.pseudo}}</div>
      {{else}}
      <p class="" style="text-align:center;border-top: solid darkgrey">Connectez-vous pour profiter de l'intégralité de l'experience FIT</p>
      <a href="{{pathFor 'account'}}"  style="text-align:center;border-bottom: solid darkgrey" class="btn-primary">Mon compte</a>
      {{/if}}
        <h2 class="list-title">Recettes populaires</h2>
      <div class="list-subtitle">Choisies par la communauté</div>
      <div class="list-recipes">
        {{#each recipes}}
        <a href="/recipes/{{_id}}">{{title}}</a><br>

        {{/each}}
      </div>

      <a href="{{pathFor 'recipes'}}" class="btn-primary">Voir les recettes</a>
      <h2 class="list-title">Entrainements populaires</h2>
      <div class="list-subtitle">Choisis par la communauté</div>
      <div class="list-recipes">
        {{#each trainings}}
        <a href="/trainings/{{_id}}">{{trainingName}}</a><br>

        {{/each}}
      </div>

      <a href="{{pathFor 'trainings'}}" class="btn-primary">Voir les entrainements</a>
    </div>

  </div>
</template>