<template name="profile">
    <div class="page profile">
        {{#nav title=trainingName black=true back=true}}

        {{/nav}}
<input type="hidden" value="{{currentUser.profile.following}}" name="following" id="following">

        <div class="content-scrollable">
         {{#if isfollowing}}
            <button class="btn-danger" id="unfollow">UNFOLLOW</button>
            {{else}}
            <button class="btn-danger" id="follow">FOLLOW</button>
            {{/if}}
            {{#each profiles}}<br>

            Username : {{profile.pseudo}}<br>
            Niveau: {{profile.Niveau}}<br>
            Followers: {{profile.followedby}}<br>
            {{#if profile.imgpro.length}}
            <img src="../{{profile.imgpro}}">
            {{else}}
            <img src="{{profile.imagepro}}">
            {{/if}}
            {{/each}}<br>
            <p>{{trainings.count}} entrainement(s) publié(s)</p>
            <p>{{recipes.count}} recette(s) publiée(s)</p>
            {{#each trainings}}
            {{trainingName}}
            {{else}}
            <p>Pas encore d'entrainement publié</p>
            {{/each}}<br><br> <br>
            {{#each recipes}}
            {{title}}
            {{else}}
            <p>Pas encore de recette publiée</p>
            {{/each}}


</div>
    </div>

</template>