<template name="profile">
    <div class="page profile">
        {{#nav title=trainingName black=true back=true}}

        {{/nav}}
<input type="hidden" value="{{currentUser.profile.following}}" name="following" id="following">

        <div class="content-scrollable">

            {{#each profiles}}
           <div class="side_wrapper">
              <section class="about-dev">
                 <header class="profile-card_header">
                    <div class="profile-card_header-container">
                       <div class="profile-card_header-imgbox">
                           {{#if profile.imgpro.length}}
                           <img style="vertical-align: middle" src="../{{profile.imgpro}}">
                           {{else}}
                           <img style="vertical-align: middle"  src="{{profile.imagepro}}">
                           {{/if}}
                       </div>
                       <h1>{{profile.pseudo}} <span>Niveau : {{profile.Niveau}} | Followers : {{profile.followedby}}</span></h1>
                    </div>
                 </header>
                 <div class="profile-card_about">
                    <h2>Statistiques :</h2>
                     <p>{{trainings.count}} entrainement(s) publié(s)</p>
                     <p>{{recipes.count}} recette(s) publiée(s)</p>
                    <footer class="profile-card_footer">
                       <div class="social-row">


                       </div>
                        {{#if isfollowing}}
                        <button class="btn-danger" id="unfollow">UNFOLLOW</button>
                        {{else}}
                        <button class="btn-danger" id="follow">FOLLOW</button>
                        {{/if}}

                    </footer>


                 </div>
                  <div class="row titre-profil">
                    <div class="col-xs-12">
                        PUBLICATIONS :
                    </div>
                  </div>

                  <div class="tabs">
                      <input type="radio" name="tab" id="tab1" checked="checked">
                      <label for="tab1" class="tab">Entrainements</label>
                      <input type="radio" name="tab" id="tab2">
                      <label for="tab2">Recettes</label>


                      <div class="tab-content-wrapper">
                          <div id="tab-content-1" class="tab-contents">
                              <ul class="single-ingredients">

                                  {{#each trainings}}
                                    <li class="liste-single">
                                        <a href="/trainings/{{_id}}">- {{trainingName}}</a>
                                    </li>
                                  {{else}}
                                  <li>Pas encore d'entrainement publié</li>
                                  {{/each}}

                              </ul>
                            </div>
                              <div id="tab-content-2" class="tab-contents">
                                  <div class="list-exercices">

                                          <ul class="single-ingredients">

                                              {{#each recipes}}
                                                  <li class="liste-single">
                                                      <a href="/recipes/{{_id}}">- {{title}}</a>
                                                  </li>

                                              {{else}}

                                              <li class="liste-single">Pas encore de recette publiée</li>
                                              {{/each}}

                                          </ul>
                                  </div>
                           </div>

</div>
                </div>
              </section>
           </div>
            {{/each}}

            <div class="row">
                <div class="col-xs-12">
                    <a href="/comments/{{_id}}/" class="boutton-comm">Voir les commentaires</a>
                </div>
            </div>

            <div id="share-training">
                <div class="share-item">
                    {{>shareit shareData}}
                </div>
            </div>

</div>
    </div>

</template>