<template name="profile">
    <div class="page profile">
        {{#nav title=trainingName black=true back=true}}

        {{/nav}}
<input type="hidden" value="{{currentUser.profile.following}}" name="following" id="following">

        <div class="content-scrollable">
{{#if currentUser}}
            <h1>co</h1>
            <button class="btn-danger" id="follow"></button>
            {{else}}
            <h1>pas co</h1>
{{/if}}
            {{#each profiles}}<br>

            Mail : {{username}}<br>
            Username : {{profile.pseudo}}<br>
            Niveau: {{profile.Niveau}}<br>
            Suivi par : {{profile.followedby}}<br>
            Suit : {{profile.following}}<br>
            {{#if profile.imgpro.length}}
            <img src="../{{profile.imgpro}}">
            {{else}}
            <img src="{{profile.imagepro}}">
            {{/if}}
            {{/each}}<br>
            {{#each trainings}}
            {{trainingName}}
            {{/each}}<br><br> <br>
            {{#each recipes}}
            {{title}}
            {{/each}}

</div>
    </div>

</template>