<template name="recipes">
  <div class="page recipes">
    {{> nav title='Toutes les recettes' black=true}}

    <div class="content-scrollable">
      <div class="list-recipes">
        <a href="{{pathFor 'addRecipe'}}"><button class="btn button-ajout center-block">Ajouter votre recette</button></a><br>

        {{#each recipes}}

        <div class="row">
          <div class="background-ligne1">
            <div class="col-xs-5">
              <a href="/recipes/{{_id}}"><img class="img-responsive background-ligne1-img" src="{{imgUrl}}"></a>
            </div>
            <div class="col-xs-7">
                <div class="carac-recette">
                  <div class="titre-recette"><a href="/recipes/{{_id}}">{{title}}</a></div>
                  <div class="description-recette">description recette (dur)</div>

                </div>
            </div>
          </div>
        </div>

        <div class="row sous-barre">
          <div class="col-xs-6 cloison">
            <a href="/profile/{{id}}"><div class="auteur-recette">Par : <b>{{auteur}}</b></div></a>

          </div>
          <div class="col-xs-6">
            <p class="like-recette">Likes: <span class="chiffre">{{likes}}</span></p>
          </div>
        </div>


          <div class="row zob">
            <div class="col-xs-offset-4 col-xs-4">
              <a href="/recipes/{{_id}}" class="btn button center-block">Voir</a>
            </div>
          </div>




        {{/each}}
      </div>
    </div>

  </div>
</template>