<template name="recipe">

  <div class="page">
    {{#each recipes}}

    {{#nav title=name black=true back=true}}

    {{/nav}}




        <div class="content-scrollable">

            <div class="row">
                <div class="col-xs-12">
                    <div class="titre-recette-single">{{title}}
                      <a href="/profile/{{id}}"><p class="single-auteur">Par {{auteur}}</p></a>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="bandeau2"></div>
                    <img src="/img/social/like.png" class="img-responsive like-img">
                    <div class="like-home">{{likes}}</div>
                    <img class="img-responsive center-block img-single" src="{{imgUrl}}">
                </div>
            </div>





            <div class="tabs">
                <input type="radio" name="tab" id="tab1" checked="checked">
                <label for="tab1">Ingrédients</label>
                <input type="radio" name="tab" id="tab2">
                <label for="tab2">Étapes</label>


                <div class="tab-content-wrapper">
                    <div id="tab-content-1" class="tab-content">


                                <ul class="single-ingredients">
                                    {{#each ingredients}}
                                    <li class="liste-single">
                                        - {{this}}
                                    </li>
                                    {{/each}}
                                </ul>



                    </div>


                    <div id="tab-content-2" class="tab-content">
                        <div class="list-exercices">



                            <ul class="single-ingredients">
                                {{#each directions}}
                                <li class="liste-single">
                                    - {{this}}
                                </li>
                                {{/each}}
                            </ul>



                        </div>
                    </div>
                </div>
            </div>







            <div id="share-training">
                <div class="share-item">
                    {{>shareit shareData}}
                </div>
            </div>



        </div>


{{/each}}

  </div>
</template>