<template name="subscribe">
    <div class="page subscribe">

        {{>nav title="Mes abonnements"}}

        <div class="content-scrollable">
            <div class="list-subscribe">

                Entrainements:
                {{#each trainings}}
               {{trainingName}}<br>
                {{else}}
                <p>Pas d'entrainements trouvés</p>
                {{/each}}<br><br>
                Recettes : <br>
                {{#each recipes}}
                {{title}}<br>
                {{else}}
                <p>Pas de recettes trouvées</p>
                {{/each}}

            </div>
        </div>
    </div>
</template>