<template name="training_item">
<div class="training">
<div class="trainings-list">


  <!--  {{#each exercices}}
    <li>{{this}}</li>
    {{/each}} -->
    <div class="row ligne1">
        <div class="col-xs-6 separation">
            <div class="cont">
            <a href="/profile/{{id}}">
                {{#if imgpro.length}}
                <img src="{{imgpro}}" class="img-responsive img-rounded img-thumbnail-perso2 center-block">
                {{else}}
                <img src="{{imagepro}}" class="img-responsive img-thumbnail-perso center-block">
                {{/if}}
                <label style="color:#fff">{{auteur}}</label></a>


            </div>
        </div>



        <div class="col-xs-6 separation-gauche">
            <div class="talk-bubble">
                <div class="talktext">
                    <img src="img/objectif/{{objectif}}.png" class="img-responsive center-block">

                    <p class="like">Likes: <span class="chiffre">{{likes}}</span></p>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="zob">
                <h3 class="trainingName">{{trainingName}}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="description">{{text}}</p>
        </div>
    </div>
        <div class="row zob">
            <div class="col-xs-offset-4 col-xs-4">
                <a href="/trainings/{{_id}}" class="btn button center-block">Voir</a>
            </div>
        </div>
    </div>
</div>

</template>