<template name="training">
<div class="training">
    <div class="trainings-list">


  <!--  {{#each exercices}}
    <li>{{this}}</li>
    {{/each}} -->
        <div style="border-bottom: solid #F44336" class="cont">
        <img style="width: 35px;height: auto" src="{{imgpro}}">
    <label style="color:#F44336">{{auteur}}</label>
</div>

</div>
    <div class="row">
    <div class="col-xs-2"></div>
        <div class="col-xs-9 ">
    <div class="talk-bubble">
        <div class="talktext row">
            <div class="row zob">
            <div class="col-xs-8">
            <h3 class="trainingName">{{trainingName}}</h3>
            <p>{{text}}</p>
            </div>
            <div class="col-xs-4">
                <img src="img/objectif/maigrir.png" class="img-responsive">

                <h5 style="text-align: center; padding-top:3px">Likes: {{likes}}</h5>
            </div></div>
            <div class="col-xs-offset-4 col-xs-4">
                <button style="text-align:center" class="btn-primary">VOIR</button>
            </div>
        </div>
    </div></div>
        </div></div>
</template>