<template name="training">
    <div class="page training">
        {{#each trainings}}
        {{#nav title=trainingName black=true back=true}}

        {{/nav}}

        <div class="content-scrollable">

            <div class="description-global">

            <div class="author-training">



                <div class="col-xs-2">

                    <img src="{{auteur}}" class="img-responsive">

                </div>

                <div class="col-xs-10">

                    Pseudo auteur

                </div>

            </div>

            <div class="description-training">

                <div class="col-xs-10">

                    Nom recette

                </div>

                <div class="col-xs-2">

                    <img src="img/objectif/{{objectif}}.png" class="img-responsive">

                </div>

                </div>

            </div>

            <div class="list-exercices">

                {{#each exercices}}

                    <div class="exercice-single">

                    Texte exercice

                    </div>

                {{/each}}

            </div>


            <div id="share-training">
                <div class="share-item">
                {{>shareit shareData}}
                </div>
            </div>

        </div>
        {{/each}}
    </div>
</template>