<template name="trainings">
  <div class="page trainings">

    {{>nav title="Tout les entrainements"}}

    <div class="content-scrollable">
      <div class="list-trainings">
          <div class="row">
            <div class="col-xs-12">
                 <a href="{{pathFor 'addTraining'}}"><button class="btn button-ajout center-block">Ajouter votre entrainement</button></a><br>
            </div>
          </div>
                {{#each trainings}}


{{>training_item}}
        {{/each}}

        </div>
      </div>
    </div>

</template>